#STANDARDSQL
WITH

###
### APPLY BASIC TRANSFORMATIONS TO THE ECUADOR VMS POSITIONS.
###
RAW_VMS_POSITIONS_NORMALIZED AS (
  SELECT
    nombrenave as shipname,
    utc_time as timestamp,
    lat,
    lon,
    CAST(velocidad as FLOAT64) as speed,
    CAST(rumbo as FLOAT64) as course,
    TO_HEX(MD5(LOWER(SAFE_CAST(idnave as STRING)))) AS ssvid,
    CAST(null as STRING) as imo,
    mmsi,
    matriculanave as callsign,
    "ECUADOR_VMS" AS source,
    "VMS" AS type,
    CASE
      WHEN STARTS_WITH(matriculanave, 'TI') THEN 'international traffic'
      WHEN STARTS_WITH(matriculanave, 'TN') THEN 'national traffic'
      WHEN STARTS_WITH(matriculanave, 'P') THEN 'fishing'
      WHEN STARTS_WITH(matriculanave, 'R') THEN 'tug'
      WHEN STARTS_WITH(matriculanave, 'B') THEN 'boat'
      WHEN STARTS_WITH(matriculanave, 'DA') THEN 'auxiliary'
      ELSE 'unknown'
    END
    AS shiptype
  FROM
    `{{ source }}`
  WHERE
    utc_time > TIMESTAMP('{{ date }}')
    AND utc_time <= TIMESTAMP_ADD(TIMESTAMP('{{ date }}'), INTERVAL 1 DAY)
)

###
### GENERATE A MESSAGE ID FOR EVERY MESSAGE OF THE VMS DATA.
###
SELECT
  #COUNTRY, SSVID, MMSI, TIMESTAMP, LAT, LON, IMO, NAME, CALLSIGN
  TO_HEX( MD5 (
    FORMAT("%s|%s|%s|%t|%f|%f|%s|%s|%s",
        "ECUADOR",
        IFNULL(TRIM(TRIM(ssvid)),""),
        IFNULL(TRIM(TRIM(mmsi)),""),
        timestamp,
        lat,
        lon,
        IFNULL(TRIM(TRIM(imo)),""),
        IFNULL(TRIM(TRIM(shipname)),""),
        IFNULL(TRIM(TRIM(callsign)),"")
  ))) AS msgid,
  * EXCEPT(mmsi)
FROM
  RAW_VMS_POSITIONS_NORMALIZED
WHERE
  ssvid IS NOT NULL

